.descriptionContainer{
    margin-top: 30px;
}
.descriptionContainer h2{
    font-size: 24px;
    opacity: 0.7;
    font-weight: 500;
}
.descriptionContainer p{
    opacity: 0.5;
    font-size: 22px;
    font-weight: 300;
}